.adminContainer {
    width: 50%;
    padding: 20px;
    background-color: #1f1f1f;
    color: white;
  }
  
  .blockList {
    list-style-type: none;
    padding: 0;
  }
  
  .blockList li {
    background-color: #121212;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    border: 1px solid #6200EE;
  }
  